

//Estilos para validavion

.input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.input-error-activo {
    display: block;
}

.grupo-correcto  {
    color: green;
    opacity: 1;
  }
  
  .grupo-incorrecto .label {
    color: red;
  }
  
  .grupo-incorrecto{
    color: red;
    
  }

  .mensaje{
    font-size: 14px;
    color: red;
    display: none;
  }
  .mensaje-activo{
    display: block;
  
  }
  
  .mensaje-exito {
      font-size: 14px;
      color: green;
      display: none;
  }
  
  .mensaje-exito-activo {
      display: block;
  }
