.top{
    margin:0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
  
    background: url(../img/us.jpeg) no-repeat ;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: 25px 25px 25px 25px #A39C95;
    font-size: 30px;
        h3{
        font-size: 50px;
        margin-top: 0;
        }
       
} 
.contenido{

    img{
        width: 300px;
    }
}

